# virtual env
.venv/

# vscode
.vscode/

# python cache
__pycache__/
*.pyc

# logs
*.out
*.err

# local data / outputs
fl_v2/data/
fl_v2/outputs/
fl_v2/analysis/figures/
/data/
outputs/

# gtsrb dataset
**/gtsrb/
**/GTSRB/

# archives / tables
*.zip
*.ppm
*.csv

